<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>539821312388-fiek7lp7u3h7auhu40vj38c1eev3fifv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.539821312388-fiek7lp7u3h7auhu40vj38c1eev3fifv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>539821312388-ermu4u00u92uatf6nfnl7af410mept5m.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCe5n64E-MzjuPJqwPKGSf66DADMd1pX00</string>
	<key>GCM_SENDER_ID</key>
	<string>539821312388</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.newsongpath.newsongpath3</string>
	<key>PROJECT_ID</key>
	<string>newsongtime-46b5c</string>
	<key>STORAGE_BUCKET</key>
	<string>newsongtime-46b5c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:539821312388:ios:b081491ac7c0149a6ff5d1</string>
	<key>DATABASE_URL</key>
	<string>https://newsongtime-46b5c.firebaseio.com</string>
</dict>
</plist>
